.m3-btn-size-medium {
  height: calc(56 * var(--dp));
  padding-left: calc(24 * var(--dp));
  padding-right: calc(24 * var(--dp));
  outline-width: calc(1 * var(--dp));
}

.m3-btn-round {
  border-radius: 99999px;
}

.m3-btn-square {
  border-radius: calc(16 * var(--dp));
}

.m3-btn-filled {
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);

  /* State layer color */
  --m3-state-layer: var(--md-sys-color-on-primary);
}

.m3-btn-global {
  cursor: pointer;
  border: none;
  text-align: center;

  position: relative;
  overflow: hidden;

  transition: box-shadow 200ms ease;
}

/* .m3-btn-global:active {
  border-radius: calc(16 * var(--dp));
} */

.m3-btn-global::before {
  content: "";
  position: absolute;
  inset: 0;

  background: var(--m3-state-layer, currentColor);
  opacity: 0;

  transition: opacity 150ms ease;
  pointer-events: none;
  border-radius: inherit;
}

.m3-btn-global:hover::before {
  opacity: 0.08;
}

.m3-btn-global:focus-visible::before {
  opacity: 0.10;
}

.m3-btn-global:active::before {
  opacity: 0.10;
}

.m3-btn-outlined {
  background-color: transparent;

  color: var(--md-sys-color-on-surface-variant);

  border: calc(1 * var(--dp)) solid var(--md-sys-color-outline);

  --m3-state-layer: var(--md-sys-color-on-surface-variant);
}

.m3-btn-tonal {
  background-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container)
}